AI_TEXT_BASE_URL='access URL of used AI that will be used to generate text, e.g. http://localhost:1234/v1/chat/completions'
AI_PICTURE_BASE_URL='URL of the used AI that will be used to generate pictures'
TTS_BASE_URL='URL of the web page used for the TTS conversion, e.g. https://ttsconverter.io/'
TTS_USERNAME='username'
TTS_PASSWORD='YourPassword'
GENERATE_THEME_SYSTEM_MESSAGE_1='First part of the value used to generate text from the AI. That value is used to explayne what the text should be about or what the text should be related to or impersonate the chatBot to write the text from the perspective of another person, etc.'
GENERATE_THEME_SYSTEM_MESSAGE_2='Second part of the value used to generate text from the AI. This can be short summary of the text that should be generated. Please use only one simple sentance.'
GENERATE_KEY_POINTS_SYSTEM_MESSAGE='Optional: If you add a keypoints to your scenarios, you can use this value to explain what the text should be about or what the text should be related to, etc.'
GENERATE_DESCRIPTION_SYSTEM_MESSAGE='Optional: If you turnder on the description generation, you can use this value to explain what the text should be about or what the text should be related to, etc.'
VIDEOS_FOLDER_PATH='Add path containing videos that should be used for the video generation. You need to provide a folder path.'
VIDEOS_RAW_FORMAT_FOLDER_PATH='Add path containing videos that will be converted to the supported format mp4. The outputed videos will be saved in the same folder. You need to provide a folder path.'
VIDEOS_CHECK_FILE ='Add path to the video that will be inspected. You need to provide file path.'
VIDEOS_CUT_FOLDER_PATH='./videos/landscape/converted/'
BACKGROUND_MUSIC_FOLDER_PATH='Add path containing songs that should be used as a background music for the video generation. You need to provide folder path.'
RESULT_FOLDER_PATH='Add path where the generated videos should be saved. You need to provide folder path.'
GOOGLE_USERNAME='Add your google username'
GOOGLE_PASSWORD='Add your google password'